{% extends "base.html.twig" %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
			<h1>Tu perfil</h1>
			<div class="card">
				<div class="card-body">
					<p class="fw-bold mb-0">Avatar:</p>
					<p>
						<img class="bg-info rounded-circle"
							src="{{ asset('uploads/avatars/' ~ profile.avatarFilename) }}" alt="User avatar">
					</p>
					<p class="fw-bold mb-0">Nombre:</p>
					<p>
						{% if profile.name is null %}
						<i class="text-muted">- Sin nombre -</i>
						{% else %}
						{{ profile.name }}
						{% endif %}
					</p>
					<p class="fw-bold mb-0">Apellidos:</p>
					<p>
						{% if profile.lastName is null %}
						<i class="text-muted">- Sin apellidos -</i>
						{% else %}
						{{ profile.lastName }}
						{% endif %}
					</p>
					<a href="{{ path('profile_edit') }}" class="btn btn-dark float-end">
						<i class="bi bi-pencil-fill fs-6 me-2"></i>
						Editar
					</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-8">
		</div>
	</div>
</div>
{% endblock %}