{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inicio{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-12 col-md-3 col-sm-12 pt-3">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
					<i class="bi bi-card-text"></i>
					Posts
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<i class="bi bi-people"></i>
					Usuarios
				</a>
			</div>
		</div>
		<div class="col-12 col-md-9 col-sm-12">
			<div class="row align-items-center">
				<div class="col">
					<h1>Últimos posts</h1>
				</div>
				<div class="col">
					<a href="{{ path('post_new') }}" class="btn btn-dark float-end">
						<i class="bi bi-plus-lg"></i>
						Nuevo post
					</a>
				</div>
			</div>
			<div class="row">
				<div class="vstack gap-3 post-list">
					{% for post in posts %}
					{% include "components/post/homeListComponent.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}