:root {
	--bs-btn-bg: #212529
}

h1 {
	color: var(--bs-btn-bg)
}

.list-group {
	width: 80%;
}

@media (max-width: 766px) { 
	.list-group {
		width: 100%;
	}
}

.list-group .list-group-item {
	border: none;
    border-radius: 6px;
    padding: 4px 12px;
    margin-bottom: 16px;
}

.list-group .list-group-item.active {
	background-color: var(--bs-btn-bg);
}

.profile-icon {
	padding: 0;
    line-height: 1;
	border: none;
}

.profile-icon i {
	color: #212529 !important;
}

.dropdown-item:active {
	background-color: var(--bs-btn-bg);
	color: white;
}

.w-95 {
	width: 95%;
}

.logo-long {
	scale: 4;
}

.post-list .vr {
	background-color: #212529;
    opacity: .8;
}

.post-list .vr::after {
	content: "•";
    position: relative;
    top: 99%;
    left: -2.5px;
}

.post-list-user {
	min-width: 62px;
}